@import 'styles/colors';
@import 'styles/typography';

$borderRadius: 5px;

@mixin shadow() {
    box-shadow: 0 10px 15px rgba(5, 31, 43, .05);
}

@mixin form-wrapper($showShadow) {
    @if $showShadow {
        @include shadow();
    };
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
}

@mixin alignCenter() {
    justify-content: center;
    display: flex;
    align-items: center;
}

a {
    color: #0366d6;
    outline: none;
}

button:focus {
    outline: none !important;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.application-content {
    padding-top: 100px;
}

body .ui-dropdown {
    min-width: 0;
}

.auth-page-form {
    @include form-wrapper(true);
}

.create-session-form.create-issue-form {
    @include form-wrapper(false);
}

.form-fieldset {
    position: relative;
}

.form-fieldset:not(:last-of-type) {
    margin-bottom: 25px;
}

::ng-deep .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

::ng-deep .ui-table .ui-table-tbody > tr > td {
    word-wrap: break-word !important;
    //font: $font15px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 !important;
    width: 30px !important;
    height: 10px !important;
    line-height: 2 !important;
}

.mat-button-toggle-label-content {
    padding: 0 !important;
}

.mat-button-toggle {
    height: 30px !important;
}

.empty-table {
    width: 100%;

    tr {
        border: 1px solid $complementary-4;
        border-top: none;
    }

    td {
        padding: 10px;
        text-align: center;
        font: $font15px;
    }
}

.menu-item-logout {
    font: 400 normal 14px/16px "Roboto", sans-serif;
    text-decoration: none;
    color: #020303;
    padding: 15px 30px;
    cursor: pointer;
}

::ng-deep {
    .ui-button {
        background-color: $primary-2 !important;
        border: 1px solid $primary-2 !important;
    }

    .ui-button:enabled:focus {
        box-shadow: none !important;
    }

    .ui-dialog-titlebar {
        background-color: $primary-2 !important;
        color: white !important;
    }

    .ui-dialog-titlebar-icon span {
        color: white !important;
    }

    .ui-dialog-content,
    .ui-dialog-titlebar,
    .ui-dialog-footer {
        border: none !important;
    }

    .ui-widget {
        font-family: "Roboto", sans-serif !important;
        font-weight: 300 !important;
    }
}
