<div class="modal-header">
    <h5 class="modal-title" >{{actionName}} Relation Model</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  <div class="modal-body">
    <form [formGroup]="relationFormModel" autocomplete="off" (submit)="onDetermineAction()">
      <div class="form-group col-sm-9">
        <label>Name</label>
        <input class="form-control" formControlName="Name">
        <label class="text-danger" *ngIf="relationFormModel.get('Name').touched && relationFormModel.get('Name').errors?.required">This field is mandatory</label>
        <label class="text-danger" *ngIf="relationFormModel.get('Name').touched && relationFormModel.get('Name').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('Name').touched && relationFormModel.get('Name').errors?.maxlength">Maximum 100 characters</label>
      </div>
    <div class="form-group col-sm-9">
      <label>FullName</label>
      <input class="form-control" formControlName="FullName">
      <label class="text-danger" *ngIf="relationFormModel.get('FullName').touched && relationFormModel.get('FullName').errors?.minlength">Minimum 2 characters</label>
      <label class="text-danger" *ngIf="relationFormModel.get('FullName').touched && relationFormModel.get('FullName').errors?.maxlength">Maximum 100 characters</label>
    </div>
      <div class="form-group col-sm-9">
        <label>Telephone Number</label>
        <input class="form-control" formControlName="TelephoneNumber">
        <label class="text-danger" *ngIf="relationFormModel.get('TelephoneNumber').touched && relationFormModel.get('TelephoneNumber').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('TelephoneNumber').touched && relationFormModel.get('TelephoneNumber').errors?.maxlength">Maximum 15 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>Email Address</label>
        <input class="form-control" formControlName="EmailAddress">
        <label class="text-danger" *ngIf="relationFormModel.get('EmailAddress').touched && relationFormModel.get('EmailAddress').errors?.email">Invalid email address</label>
        <label class="text-danger" *ngIf="relationFormModel.get('EmailAddress').touched && relationFormModel.get('EmailAddress').errors?.maxlength">Maximum 50 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>Country</label>
        <input class="form-control" formControlName="Country">
        <label class="text-danger" *ngIf="relationFormModel.get('Country').touched && relationFormModel.get('Country').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('Country').touched && relationFormModel.get('Country').errors?.maxlength">Maximum 60 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>City</label>
        <input class="form-control" formControlName="City">
        <label class="text-danger" *ngIf="relationFormModel.get('City').touched && relationFormModel.get('City').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('City').touched && relationFormModel.get('City').errors?.maxlength">Maximum 60 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>PostalCode</label>
        <input class="form-control" formControlName="PostalCode">
        <label class="text-danger" *ngIf="relationFormModel.get('PostalCode').touched && relationFormModel.get('PostalCode').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('PostalCode').touched && relationFormModel.get('PostalCode').errors?.maxlength">Maximum 20 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>Street</label>
        <input class="form-control" formControlName="Street">
        <label class="text-danger" *ngIf="relationFormModel.get('Street').touched && relationFormModel.get('Street').errors?.minlength">Minimum 2 characters</label>
        <label class="text-danger" *ngIf="relationFormModel.get('Street').touched && relationFormModel.get('Street').errors?.maxlength">Maximum 100 characters</label>
      </div>
      <div class="form-group col-sm-9">
        <label>StreetNumber</label>
        <input type="number" class="form-control" formControlName="StreetNumber">
        <label class="text-danger" *ngIf="relationFormModel.get('StreetNumber').touched && relationFormModel.get('StreetNumber').errors?.minlength">Minimum 2 characters</label>
      </div>
      <div *ngIf="createModel; else editButton">
        <button type="submit" class="btn btn-lg">Create</button>
      </div>
      <ng-template #editButton>
        <button type="submit" class="btn btn-lg">Update</button>
      </ng-template>
  </form>
  </div>