@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles';

.top-indent {
    margin-top: 100px;
    margin-left: 20px;
}


div.form-group label:not(.text-danger){
    @include transformTextStyle($cardTitleSize);
    margin: 0 5px;
    color: $primary-1;
    text-decoration: none;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

 div.form-group input.invalid{
    border: 1px solid #b00505; 
 }
 
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }