@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles';

td {
    vertical-align: middle;
}

td a, td input, td img, td label {
    vertical-align: middle;
    display: inline-block;
}
