// Colors for backgrounds and text
$primary-1: #020303; // Base Text
$primary-2: #FEDA00; // Base Yellow
$primary-3: #FFFFFF; // White
$primary-4: #FF0000;
$primary-5: #f9cb9c;

$complementary-1: #556170; // Gray
$complementary-2: #828282; // Text Unvisible
$complementary-3: #FAFAFA; // Cream
$complementary-4: #E0E0E0; // Lines
$complementary-5: #DDDDDD; // Inputs stroke
$complementary-6: #F4F4F4;
