@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles';

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 99;
    background: $primary-3;
    transition: background-color .4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .13);

    .info-section {
        display: flex;
        align-items: center;
        margin-right: auto;
        cursor: default;

        p {
            @include transformTextStyle($cardTitleSize);
            margin: 0 5px;
            color: $primary-1;
            text-decoration: none;
        }
    }
}

